ion-toolbar {
    --background: #f5f5f3;
  
    ion-button {
      text-transform: initial;
      font-size: 17px;
      --background: #080808;
    }
  }
  
  ion-content {
    --background: url('/assets/fondo3.JPG') no-repeat ;
    #header {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      h1 {
        margin-top: 20%;
        font-weight: 700;
        font-size: 46px;
        color: #010100;
        margin-bottom: 15%;
      }
  
      img {
        margin-top: 10%;
        width: 190px;
        height: 190px;
        border-radius: 90%;
        border: 0px solid #0a0a0a;
      }
    }
  
    #form {
      margin-top: 30%;
      padding-left: 30px;
      padding-right: 30px;
  
      ion-button {
        margin-top: 35px;
        height: 48px;
        font-size: 18px;
        text-transform: initial;
        border-radius: 50px;
        box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
        --box-shadow: none;
       
      }
    }
  }
  